/* tablet */

@media(min-width:768px){
	head {
		width: 768px;
  	}
	.container{
		max-width: 720px;
	}
	.align-item-center-sm{
		align-items: center;
	}
	.col-sm-1{
		flex: 0 0 8.333%;
		max-width: 8.333%;
	}
	.col-sm-2{
		flex: 0 0 16.667%;
		max-width: 16.667%;
	}
	.col-sm-3{
		flex: 0 0 25%;
		max-width: 25%;
	}
	.col-sm-4{
		flex: 0 0 33.333%;
		max-width: 33.333%;
	}
	.col-sm-5{
		flex: 0 0 41.667%;
		max-width: 41.667%;
	}
	.col-sm-6{
		flex: 0 0 50%;
		max-width: 50%;
	}
	.col-sm-7{
		flex: 0 0 58.333%;
		max-width: 58.333%;
	}
	.col-sm-8{
		flex: 0 0 66.667%;
		max-width: 66.667%;
	}
	.col-sm-9{
		flex: 0 0 75%;
		max-width: 75%;
	}
	.col-sm-10{
		flex: 0 0 83.333%;
		max-width: 83.333%;
	}
	.col-sm-11{
		flex: 0 0 91.667%;
		max-width: 91.667%;
	}
	.col-sm-12{
		flex: 0 0 100%;
		max-width: 100%;
	}
}
/* laptop */
@media(min-width:992px){
	head {
		width: 992px;
  	}
	.container{
		max-width: 960px;
	}
	.align-item-center-md{
		align-items: center;
	}
	.col-md-1{
		flex: 0 0 8.333%;
		max-width: 8.333%;
	}
	.col-md-2{
		flex: 0 0 16.667%;
		max-width: 16.667%;
	}
	.col-md-3{
		flex: 0 0 25%;
		max-width: 25%;
	}
	.col-md-4{
		flex: 0 0 33.333%;
		max-width: 33.333%;
	}
	.col-md-5{
		flex: 0 0 41.667%;
		max-width: 41.667%;
	}	
	.col-md-6{
		flex: 0 0 50%;
		max-width: 50%;
	}
	.col-md-7{
		flex: 0 0 58.33%;
		max-width: 58.33%;
	}	
	.col-md-8{
		flex: 0 0 66.667%;
		max-width: 66.667%;
	}
	.col-md-9{
		flex: 0 0 75%;
		max-width: 75%;
	}	
	.col-md-10{
		flex: 0 0 83.333%;
		max-width: 83.333%;
	}	
	.col-md-11{
		flex: 0 0 91.667%;
		max-width: 91.667%;
	}	
	.col-md-12{
		flex: 0 0 100%;
		max-width: 100%;
	}
}
/* desktop */
@media(min-width:1200px){
	head {
		width: 1200px;
  	}
	.container{
		max-width: 989px;
	}
	.col-lg-1{
		flex: 0 0 8.333%;
		max-width: 8.333%;
	}
	.col-lg-2{
		flex: 0 0 16.667%;
		max-width: 16.667%;
	}
	.col-lg-3{
		flex: 0 0 25%;
		max-width: 25%;
	}
	.col-lg-4{
		flex: 0 0 33.333%;
		max-width: 33.333%;
	}
	.col-lg-5{
		flex: 0 0 41.667%;
		max-width: 41.667%;
	}	
	.col-lg-6{
		flex: 0 0 50%;
		max-width: 50%;
	}
	.col-lg-7{
		flex: 0 0 58.33%;
		max-width: 58.33%;
	}	
	.col-lg-8{
		flex: 0 0 66.667%;
		max-width: 66.667%;
	}
	.col-lg-9{
		flex: 0 0 75%;
		max-width: 75%;
	}	
	.col-lg-10{
		flex: 0 0 83.333%;
		max-width: 83.333%;
	}	
	.col-lg-11{
		flex: 0 0 91.667%;
		max-width: 91.667%;
	}	
	.col-lg-12{
		flex: 0 0 100%;
		max-width: 100%;
	}
}
/* only mobile */
@media(max-width:767px){
	head {
		width: 767px;
	  }
	.justify-content-center-xs{
		justify-content: center;
	}
	.col-xs-1{
		flex: 0 0 8.333%;
		max-width: 8.333%;
	}
	.col-xs-2{
		flex: 0 0 16.667%;
		max-width: 16.667%;
	}
	.col-xs-3{
		flex: 0 0 25%;
		max-width: 25%;
	}
	.col-xs-4{
		flex: 0 0 33.333%;
		max-width: 33.333%;
	}
	.col-xs-5{
		flex: 0 0 41.667%;
		max-width: 41.667%;
	}	
	.col-xs-6{
		flex: 0 0 50%;
		max-width: 50%;
	}
	.col-xs-7{
		flex: 0 0 58.33%;
		max-width: 58.33%;
	}	
	.col-xs-8{
		flex: 0 0 66.667%;
		max-width: 66.667%;
	}
	.col-xs-9{
		flex: 0 0 75%;
		max-width: 75%;
	}	
	.col-xs-10{
		flex: 0 0 83.333%;
		max-width: 83.333%;
	}	
	.col-xs-11{
		flex: 0 0 91.667%;
		max-width: 91.667%;
	}	
	.col-xs-12{
		flex: 0 0 100%;
		max-width: 100%;
	}
}